<div class="container-fluid" style="height:100%;" >

<div class="row" style="border-bottom-style: solid; height:59px; overflow: auto;">
    <app-header></app-header>
</div>

<div class="row" style="border-bottom-style: solid; height: calc(100vh - 59px - 30px);overflow: auto; justify-content: center;">
    <ui-view class="w-100"></ui-view>
</div>

<div class="row bg-dark" style="height: 30px; overflow: auto; justify-content: center;align-items: center;">
    <span class="text-secondary">Copyright © 2018 Angular. All rights reserved.</span>
</div>

</div>
